[workspace]
default-members = ["postgresql_archive", "postgresql_commands", "postgresql_embedded"]
members = ["examples/*", "postgresql_archive", "postgresql_commands", "postgresql_embedded"]
resolver = "2"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["database"]
edition = "2021"
keywords = ["postgresql", "postgres", "embedded", "database", "server"]
license = "(Apache-2.0 OR MIT) AND PostgreSQL"
repository = "https://github.com/theseus-rs/postgresql-embedded"
version = "0.10.2"

[workspace.dependencies]
anyhow = "1.0.86"
async-trait = "0.1.80"
bytes = "1.6.0"
criterion = "0.5.1"
flate2 = "1.0.30"
hex = "0.4.3"
home = "0.5.9"
http = "1.1.0"
human_bytes = { version = "0.4.3", default-features = false }
lazy_static = "1.4.0"
num-format = "0.4.4"
rand = "0.8.5"
regex = "1.10.4"
reqwest = { version = "0.12.4", default-features = false }
reqwest-middleware = "0.3.1"
reqwest-retry = "0.5.0"
reqwest-tracing = "0.5.0"
serde = "1.0.202"
serde_json = "1.0.117"
sha2 = "0.10.8"
tar = "0.4.40"
task-local-extensions = "0.1.4"
target-triple = "0.1.2"
test-log = "0.2.16"
tempfile = "3.10.1"
thiserror = "1.0.61"
tokio = "1.37.0"
tracing = "0.1.40"
url = "2.5.0"

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"
