[workspace]
default-members = [
    "postgresql_archive",
    "postgresql_commands",
    "postgresql_embedded",
    "postgresql_extensions",
]
members = [
    "examples/*",
    "postgresql_archive",
    "postgresql_commands",
    "postgresql_embedded",
    "postgresql_extensions",
]
resolver = "3"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["database"]
edition = "2024"
keywords = ["postgresql", "postgres", "embedded", "database", "server"]
license = "(Apache-2.0 OR MIT) AND PostgreSQL"
repository = "https://github.com/theseus-rs/postgresql-embedded"
rust-version = "1.86.0"
version = "0.18.2"

[workspace.dependencies]
anyhow = "1.0.97"
async-trait = "0.1.88"
axum = "0.8.3"
criterion = "0.5.1"
diesel = "2.2.8"
diesel_migrations = "2.2.0"
flate2 = "1.1.1"
futures-util = "0.3.31"
hex = "0.4.3"
indicatif = "0.17.11"
indoc = "2.0.6"
liblzma = "0.3.6"
md-5 = "0.10.6"
num-format = "0.4.4"
pgvector = "0.4.0"
postgres = "0.19.10"
quick-xml = "0.37.4"
r2d2_postgres = "0.18.2"
rand = "0.9.0"
regex-lite = "0.1.6"
reqwest = { version = "0.12.15", default-features = false }
reqwest-middleware = "0.4.1"
reqwest-retry = "0.7.0"
reqwest-tracing = "0.5.6"
semver = "1.0.26"
serde = "1.0.219"
serde_json = "1.0.140"
sha1 = "0.10.6"
sha2 = "0.10.8"
sqlx = { version = "0.8.3", default-features = false, features = ["postgres"] }
tar = "0.4.44"
target-triple = "0.1.4"
tempfile = "3.19.1"
test-log = "0.2.17"
thiserror = "2.0.12"
tokio = "1.44.1"
tracing = "0.1.41"
tracing-indicatif = "0.3.9"
tracing-subscriber = "0.3.19"
url = "2.5.4"
zip = { version = "2.6.0", default-features = false, features = ["deflate"] }

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"
